/* You can add global styles to this file, and also import other style files */

//@import '~ag-grid-community/dist/styles/ag-grid.css';
//@import '~ag-grid-community/dist/styles/ag-theme-balham.css';


@import "~@angular/material/theming";
@include mat-core();

$c-primary: mat-palette($mat-green, 800);
$c-accent: mat-palette($mat-amber, 500);
$c-warn: mat-palette($mat-red, 200);

// create theme (use mat-dark-theme for themes with dark backgrounds)
$c-theme: mat-light-theme($c-primary, $c-accent, $c-warn);

@include angular-material-theme($c-theme);

// Local theme

body {
  font-family: "Ubuntu", "Roboto", Helvetica, sans-serif;
  margin: 0px;
  font-size: 15px;  
}

* {
  touch-action: manipulation;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.3em;
}

h2 {
  font-size: 1.1em;
}

.global__ {
  &container {    
    //background-color: rgba(255,255,255,50);
    @media (min-width: 728px) {
      margin: 10px;
      padding: 10px;
      //border-radius: 5px;
      //border: 1px solid mat-color($c-primary, 100);
    }

    @media (max-width: 727px) {
      margin: 0px;
      padding: 2px;
      // margin: -5px -2px -2px 0px;
      // padding: 5px 2px 2x 0px;
    }
  }

  &center {
    text-align: center;
  }

  &flex-spacer {
    flex: 1 1 auto;
  }

  &loading {
    margin: 10px;
  }

  &mat-form-field {
    width: 400px;
    max-width: 100%;
    margin-bottom: 5px;
    display: block !important;
  }
}

.link {
  color: mat-color($mat-green, 800);
}
.link:hover {
  cursor: pointer;
  text-decoration: underline;
}